.myDialog {
    -fx-font-family: Ubuntu;
    -fx-text-fill: white;
}

.btnConfirm {
    -fx-cursor: hand;
    -fx-font-size: 15;
    -fx-wrap-text: true;
    -fx-background-color: #0275d8;
    -fx-text-fill: #fff;
}

.btnConfirm:hover {
    -fx-background-color: #4083be;
    -fx-text-fill: #fff;
}

.btnCancel {
    -fx-cursor: hand;
    -fx-font-size: 15;
    -fx-wrap-text: true;
    -fx-background-color: #DC3545;
    -fx-text-fill: #fff;
}

.btnCancel:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #d9534f;
}

.btnAction {
    -fx-cursor: hand;
    -fx-font-size: 15;
    -fx-wrap-text: true;
    -fx-background-color: #f0ad4e;
    -fx-text-fill: #fff;
}

.btnAction:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #fab633;
}