.myDialog {
    -fx-font-family: Ubuntu;
    -fx-text-fill: white;
}

.btn {
    -fx-padding: 10 25;
    -fx-border-color: #AAA;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #AAA;
}

.optionsButton {
    -fx-pref-height: 20;
    -fx-pref-width: 150;
    -fx-text-fill: #303033;
    -fx-border-color: #303033;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.btn:hover {
    -fx-background-color: #AAA;
    -fx-text-fill: #303033;
}