.root {
    -fx-background-color: #303033;
}

.label {
    -fx-font-family: "Ubuntu";
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-alignment: center;
}

#titleLabel {
    -fx-font-size: 30;
}

#btnLogin {
    -fx-alignment: center;
    -fx-pref-width: 130;
    -fx-pref-height: 40;
    -fx-padding: 10 25;
    -fx-border-color: #AAA;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #AAA;
    -fx-font-size: 15;
}

#btnLogin:hover {
    -fx-background-color: #AAA;
    -fx-text-fill: #303033;
}